# [CONFIGMAP] Service Port
PORT=8002

# [CONFIGMAP] Database Connection (MongoDB)
MONGO_HOST=events-db
MONGO_PORT=27017
MONGO_DB=events_db

# [SECRET] Database Credentials
MONGO_USER=admin
MONGO_PASSWORD=adminpass
